@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Modak';
  src: url('./fonts/Modak.woff2') format('woff2'),
    url('./fonts/Modak.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

img[lazy=loading] {
  /*your style here*/
  width: 100px;
  // height: 100px;
  filter: blur(8px);
}

input,
textarea,
select {
  font-size: 16px;
}

input,
textarea {
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
}

.logo {
  font-family: 'Modak', cursive;
  letter-spacing: 10px;
  font-size: 45px;
  // font-weight: 800;
}

#app {

  button,
  .reload {
    background-color: #fff !important;
    color: #603d31 !important;
    width: 10px;

  }

  button {
    background-color: #603d31;
    display: block;
    color: white;
    width: 100%;
    border-radius: 8px;
    padding: 12px 0px 12px 0px;
    display: flex;
    justify-content: center;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
}

ol {
  list-style-type: decimal;
  padding-left: 30px;
}